.modaladdfiles{
    background: rgb(14, 53, 77);
    height: 150px;
    width: 100%;
    border-radius: 12px;
    padding: 9px 9px 0px 9px;
    color: white;
    overflow: auto;
}
.modaladdfiles h2{
    font-weight: 100;
}

.modalloadactions{
    font-size: 10px;

    text-align: right;
    
    display: flex;
    width: 98%;
    bottom: 6px;
    margin-top: 15px;
    justify-content: space-between;
}
.fileitem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6px;
   
}
.fileitem a{
    color: rgb(45, 151, 218);
    font-size: 7px;
}
.fileitem p{
    font-size: 10px;
    word-break: break-all;
    max-width: 70px;
}
.fileitem img{
    height: 30px;
    width: 30px;
}
.filesbutton{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}
.filesitems{
    padding-top: 10px;
    margin-top: auto;
  
    display: flex;
    text-align: center;
    overflow: auto;
}

@media (max-width: 1299px){
    .modaladdfiles{
        margin-top: 15px;
    }
}

@media (max-width: 964px){
    .modalloadactions{
        margin-top: 40px;
        flex-direction: column;
        align-items: center;
    }
    .modaladdfiles h2{
        position: absolute;
    }
    .modaladdfiles{
        margin-top: 15px;
    }
    .filesitems{
        
        margin-top: 15px;
        overflow: auto;
    }
}

@media (max-width: 626px){
    .modalloadactions{
     font-size: 8px;
    }
    .modalloadactions input{
     font-size: 8px;
    }
 }
 @media (max-width: 398px){
     .modaladdfiles h2{
         font-size: 12px;
     }
    .modalloadactions{
     font-size: 5px;
    }
    .modalloadactions input{
     font-size: 5px;
    }
 }