

.modaltask{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1000;
    transition: 0.5s;
}
.modaltask.active{
    opacity: 1;
    transition: 0.5s;
    pointer-events: all;
}
.modaltaskkontent{
    padding: 20px;
    border-radius: 12px;
    min-height: 600px;
    min-width: 70%;
    background: rgb(35, 117, 165);
    
    transform: scale(0.5);
    transition: 0.4s;
}



.modaltaskkontent.active{
    transition: 0.4s;
    transform: scale(1);
}
.close{
    display: block;
    margin-left: auto;
    background: transparent;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.close:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.close .lv{
    content: '';
    width: 1px;
    height: 15px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
}
.close .lh{
    content: '';
    width: 15px;
    height: 1px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    transform: rotate(45deg);
}

.add{
    display: block;
    margin: auto;
    background: transparent;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}
.add:hover{
    transform: scale(1.2);
    transition: 0.3s;
}
.add .lv{
    content: '';
    width: 1px;
    height: 25px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.add .lh{
    content: '';
    width: 25px;
    height: 1px;
    background: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.modalcontainer{
    display: flex;
    min-height: 400px;
 
}

.modalrightside{
    width: 76%;
    margin-left: 5px;
}
.addcomments{
    height: 365px;
    border-radius: 12px;
    margin-top: 5px;
    width: 100%;
   
    background: rgb(13, 40, 56);
    color: white;
    padding: 10px;
    position: relative;
}
.addcommentbutton{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid white;
    background: none;
    transition: 0.3s;
    cursor: pointer;
}
.addcommentbutton::before{
    position: absolute;
    content: '';
    width: 15px;
    height: 1px;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.addcommentbutton::after{
    position: absolute;
    content: '';
    width: 1px;
    height: 15px;
    background: white;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}
.addcomments h2{
    font-weight: 100;
    font-size: 16px;
}
.addcommentbutton:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
.commentscontainer{
    
    height: 80%;
    overflow: auto;
}
.firstcomment{
    background: rgb(38, 93, 124);
    word-wrap: break-word;
    border-radius: 12px;
    padding: 20px 10px 10px 20px;
    margin-top: 15px;
}
.subcomment{
    border-left: 2px solid rgb(75, 61, 61);
    padding-left: 20px;
    padding-top: 10px;
}

.commentbuttons{
    display: flex;
    align-items: flex-end;
    text-align: right;
}
.addsubcomment{
    height: 20px;
    width: 20px;
    cursor: pointer;
    border: none;
    background: none;
    background: url(../../../images/comment.svg);
    margin-left: auto;
    margin-bottom: 5px;
}
.comment{
    background: rgb(38, 93, 124);
    
}

.filesbutton{
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}
@media (max-width: 1299px){
    
    .modalcontainer{
       flex-direction: column;
       align-items: center;
    }
    .addcomments{
        height: 250px;
    }
}
